:host {
  display: block;
}

pose-viewer {
  display: flex;
  width: 100%;
  font-size: 2em;
  top: 0;
  margin: 0 auto;
  align-items: center;
  justify-content: center;

  // text-align: center;
  // aspect-ratio: 1;
}
