@import '../../../../../theme/variables';

:host {
  background-color: white;

  position: relative;
  aspect-ratio: 1;

  @media #{$breakpoint-gt-xs} {
    background-color: rgb(233, 233, 233);
  }

  @media (prefers-color-scheme: light) {
    background-color: white;
  }
}

app-skeleton-pose-viewer {
  height: 100%;
  display: flex;
  align-items: center;
}

video {
  display: block;
}
