@import '../../../../../theme/variables';

:host {
  background-color: white;
  position: relative;
  aspect-ratio: 1;

  @media #{$breakpoint-gt-xs} {
    background-color: white;
    border: 1px solid #ccc;
    width: 80%;
    height: 80%;
    padding-top: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    resize: none;
  }

  @media (prefers-color-scheme: light) {
    background-color: white;
  }
}

app-skeleton-pose-viewer {
  display: flex;
  background-color: white;
}

.video-container {
  padding-bottom: 20px;
  position: relative;
  height: 100%;
  width: 100%;
}

video {
  position: center;
  display: block;
  width: 100%;
  height: 85%;
}
